<footer>
    <div class="container">
        <div class="center-align white-text">
            <div class="chat-info inFont"></div><br />
        </div>
    </div>
</footer>
<script src="js/vendor.min.js"></script>
<script src="js/ie-emulation-modes-warning.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>
</body>


</html>