<!doctype html>
<html lang="en">

<head>
    <title>BroadCast System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Broadcast System">
    <meta name="author" content="Shail Sheth">
    <title>Home | Broadcast System</title>
    <link rel="icon" href="images/chat.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/ie10-viewport-bug-workaround.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="black white-text">
    <header>
        <div class="container valign-wrapper">
            <div class="row">
                <h3 class="center-align inFont">Broadcast System</h3>
            </div>
        </div>
    </header>