<%- include header %>
<div class="container">
    <div class="center-align white-text">
        <div class="row">
            <h5 class="inFont">What's your nickname?</h5>
            <div class="input-field col s6 offset-s3 center-align">
                <h5><input type="text" id="username" class="white-text inFont" style="font-size: inherit;" placeholder="Enter New/Old Nickname"></h5>
                <h5><input type="password" id="password" class="white-text inFont" style="font-size:inherit;"
                        placeholder="Enter your Secret/Password"></h5>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light white black-text inFont" id="join-chat" type="submit" name="action">Join
                Chat <i class="fas fa-comment"></i>
            </button>
        </div>
    </div>
</div>
<%- include footer %>